extends layout

block content
    center
        p Bilder,Icons und Sounds von:
        p Photo by Bruna Branco on Unsplash
        p Photo by Chad Montano on Unsplash
        a http://www.orangefreesounds.com/
        p Foto von Anthony Leong von Pexels
        p Foto von Engin Akyurt von Pexels
        p Foto von Lgh_9 von Pexels
        div
            | Icons made by 
            a(href='https://www.flaticon.com/authors/freepik' title='Freepik') Freepik
            |  from 
            a(href='https://www.flaticon.com/' title='Flaticon') www.flaticon.com