extends layout

block content
    #wrappping(style='margin:0 auto; margin-bottom: 15px;')
        a(href='/Nudeln' title='')
            p(style="font-family: 'Courier New', Courier, monospace; margin-left: 4vw; margin-bottom:0.3vh; color: black;")
            | Nudelgerichte
            img.img-thumbnail(src='public/images/spaghetticarbonara.jpg' alt='Responsive image' style='width:100%;' height:='' auto;='')
        a(href='/Frühstück' title='')
            p(style="font-family: 'Courier New', Courier, monospace; margin-left: 4vw;margin-top: 2vh; margin-bottom:0.3vh; color: black;")
            | Fr&uuml;hst&uuml;ck &amp; Brunch
            img.img-thumbnail(src='public/images/pancake.jpg' alt='Responsive image' style='width:100%;' height:='' auto;='')
        a(href='/Chicken-Beef' title='')
            p(style="font-family: 'Courier New', Courier, monospace; margin-left: 4vw;margin-top: 2vh; margin-bottom:0.3vh; color: black;")
            | Chicken und Beef
            img.img-thumbnail(src='public/images/curry.jpg' alt='Responsive image' style='width:100%;' height:='' auto;='')
        a(href='/Fisch' title='')
            p(style="font-family: 'Courier New', Courier, monospace; margin-left: 4vw;margin-top: 2vh; margin-bottom:0.3vh; color: black;")
            | Fisch
            img.img-thumbnail(src='public/images/fish.jpg' alt='Responsive image' style='width:100%;' height:='' auto;='')
        a(href='/Vegetarisch-Vegan' title='')
            p(style="font-family: 'Courier New', Courier, monospace; margin-left: 4vw;margin-top: 2vh; margin-bottom:0.3vh; color: black;")
            | Vegetarisch und Vegan
            img.img-thumbnail(src='public/images/vegan.jpg' alt='Responsive image' style='width:100%;' height:='' auto;='')
        
        